

<!-- 
<h1 class="animated fadeIn"> {{heroe.nombre | uppercase}} <small> ({{ heroe.aparicion| date:'y' }})</small> </h1>


<div class="row animated fadeIn fast">
    
    <div class="col-4">
        <img [src]="heroe.img"  class="img-fluid rounded"  [alt]="heroe.nombre">
        <br><br>
         <a [routerLink]="['/heroes']" class="btn btn-outline-danger btn-block">Regresar</a>
    </div>
    <div class="col-8">

        <h3>{{ heroe.nombre}}</h3>
        <hr>
        <br>
        <p class="lead">{{ heroe.bio}} </p>
        <
           <div>
                <img *ngIf=" (heroe.casa == 'DC') "     src="assets/img/dc-logo-3.jpg"       class="rounded img-thumbnail img-logo"   alt="dc-logo" >
                <img *ngIf=" (heroe.casa == 'Marvel') " src="assets/img/marvel-logo-3.jpg"   class="rounded img-thumbnail img-logo"   alt="marvel-logo" >
           </div>
</div> 

    
</div>
-->

<BR>
<BR>
<BR>

<h1 class="mt-10 animated fadeIn"> {{game.nombre | uppercase}} <small> ({{ game.category| uppercase }})</small> </h1>


<div class="row animated fadeIn fast">
    <div class="col-4">
        <img [src]="game.img"  class="img-fluid rounded"  [alt]="game.nombre">
        <br><br>
        <a [routerLink]="['/games']" class="btn btn-outline-danger btn-block">Regresar</a>
         <!-- <a target="_blank" [href]="{{ game.itchiurl }}" class="btn btn-outline-danger btn-block" target="_blank" >Regresar</a> -->
         <!-- target="_blank" href="{{_services.info.facebook}}" -->
    </div>
    <div class="col-8">

        <h3>{{ game.nombre}}</h3>
        <hr>
        <br>
        <p class="lead">{{ game.description}} </p>

        <p class="lead">{{ game.estado}} </p>
        <!-- Mediante codebehind -->
            <!-- <div *ngIf="DC" >
                <img  src="assets/img/dc-logo-3.jpg" class="rounded img-thumbnail img-logo"   alt="dc-logo" >                
            </div>
            -->

           <!-- Mediante html solo -->
           <a target="_blank" [href]="[ game.itchiurl ]"  class="btn btn-primary">Test Alpha versión in Itch.io</a>
           <div>
            <img *ngIf=" (game.platform == 'PC') "     src="assets/img/pc-logo.jpg"       class="rounded img-thumbnail img-logo"   alt="pc-logo" >
            <img *ngIf=" (game.platform != 'PC') "     src="assets/img/android-logo.jpg"    class="rounded img-thumbnail img-logo"   alt="android-logo" >
       </div>


          
    </div>
    <!-- <div class="col"></div> -->
</div>