<h2 class="animated fadeIn fast">Sobre VicAgent App</h2>

<br>
<br>
<br>
<br>
<br>
<br>
<div class="container">

    <p>

        Estudié hace siglos ingeniería electrónica y trabajé en el sector industrial programando Auomátas (PLC´s) y SCADA´s, pero me di cuenta que lo que me gustaba eran los videojuegos, Más tarde, Medio siglo después, Estudié un master de informatrica
        <i class="fa fa-y-combinator" aria-hidden="true"></i> Me di cuenta que lo que me gustaba eran los videojuegos, desde el 2018 llevo metido en esta aventura con unreal, aunque antes hice mis pinitos con xna y unity mucho antes. Creo que es increíble,
        poder mezclar historia, música e interación en un mismo proyecto


    </p>

    <p>
        Me gustaría hacer un juego que mezcle narrativa con una gran calidad visual, incorporar la opción online como mejora de experiencia, no como única experincia

    </p>

</div>