<div class="jumbotron animated fadeIn fast">
    <h1 class="display-4">VicAgent App</h1>
    <p class="lead">Immerse yourself in arcade games with great visual quality</p>
    <!-- <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a> -->
</div>



<!-- 
  <div id="carouselPromotionalImage" class="carousel slide" data-ride="carousel" data-interval="6000" >
    <div class="carousel-inner">
      
      <div class="carousel-item active">   
          <img src="assets/img/horde/GamePlay4_1k.jpg" class="d-block w-100" alt="HTML5 TheHorde1 Icon">
      </div>
    
      <div class="carousel-item">
        <img src="assets/img/horde/horde3_1k.jpg" class="d-block w-100" alt="HTML5 TheHorde2 Icon">
      </div>
      
      
      
      <div class="carousel-item">                       
          <img src="assets/img/mistic/mistic1_1K.jpg" class="d-block w-100" alt="HTML5 Misctic1 Icon"> 
        </div>      
        
        <div class="carousel-item">                       
            <img src="assets/img/mistic/mistic2_1K.jpg" class="d-block w-100" alt="HTML5 Misctic2 Icon"> 
          </div>      
          
        
        <div class="carousel-item">                       
            <img src="assets/img/wobt/wobt1_1k.jpg" class="d-block w-100" alt="HTML5 WoBT1 Icon"> 
          </div>                     
          <div class="carousel-item">                         
              <img src="assets/img/wobt/wobt2_1k.jpg" class="d-block w-100" alt="HTML5 WoBT2 Icon"> 
          </div> 
        
      <div class="carousel-item">                       
          <img src="assets/img/wobt/wobt3_1k.jpg" class="d-block w-100" alt="HTML5 WoBT3 Icon"> 
        </div>                     
        

        <div class="carousel-item">                         
          <img src="assets/img/wobt/wobt4_1k.jpg" class="d-block w-100" alt="HTML5 WoBT4 Icon"> 
        </div> 

        <div class="carousel-item">                         
          <img src="assets/img/wobt/wobt5_1k.jpg" class="d-block w-100" alt="HTML5 WoBT5 Icon"> 
        </div>


        <div class="carousel-item">                         
            <img src="assets/img/CC/CC_ICON5_1k.png" class="d-block w-100" alt="HTML5 clearchernobyl Icon"> 
        </div>
        
        

    </div>

    <a class="carousel-control-prev" href="#carouselPromotionalImage" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselPromotionalImage" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>  -->



<br><br><br>
<div class="bd-example">
    <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <img class="d-block w-100" src="assets/img/horde/GamePlay4_1k.jpg" alt="First slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Apóyanos en Twitch Síguenos y, si quieres, te suscribes</h3>
                    <BR>
                    <!-- <a class="nav-link" href="https://www.twitch.tv/vicagent" target="_blank"><p> Twitch Channel  </p></a> -->
                    <a class="btn btn-outline-success" href="https://www.twitch.tv/vicagent" target="_blank">Twitch Channel</a>
                    <BR>
                    <BR>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/tanks/TTJ_1K.jpg" alt="Second slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Suscríbete en Youtube es Gratis</h3>
                    <BR>
                    <!-- <a class="nav-link" href="https://www.youtube.com/channel/UCwYDv09Kg7m_73WmRGeN65Q" target="_blank"><p> Youtube Channel </p></a> -->
                    <a class="btn btn-outline-success" href="https://www.youtube.com/channel/UCwYDv09Kg7m_73WmRGeN65Q" target="_blank">Youtube Channel</a>
                    <BR>
                    <BR>
                </div>
            </div>
            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/mistic/mistic1_1K.jpg" alt="third slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Visita nuestro Store en Itch.io</h3>
                    <BR>
                    <!-- bg-light -->
                    <!-- <a class="nav-link" href="https://vicagent.itch.io/" target="_blank"><p class="text-light"> Visita nuestro Store en Itch.io</p></a> -->
                    <a class="btn btn-outline-success" href="https://vicagent.itch.io/" target="_blank">Itch.io VicAgent</a>
                    <BR>
                    <BR>
                </div>
            </div>

            <div class="carousel-item">
                <img class="d-block w-100" src="assets/img/wobt/wobt1_1k.jpg" alt="4nd slide">
                <div class="carousel-caption d-none d-md-block">
                    <h3>Compartimos mucho de nuestro código en Github</h3>
                    <BR>
                    <!-- bg-light -->
                    <!-- <a class="nav-link" href="https://vicagent.itch.io/" target="_blank"><p class="text-light"> Visita nuestro Store en Itch.io</p></a> -->
                    <a class="btn btn-outline-warning" href="https://github.com/jorgemmm" target="_blank">Reposiorio Github</a>
                    <BR>
                    <BR>
                </div>
            </div>



        </div>

        <!-- Poner Itchio , Facebook, twiter, github (coje imagenes de arriba) y quitarlas del footer, deja solo en el footer contacto / privacy   -->

        <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<br><br><br>


<!-- 
<div class="card-columns">
    <div class="card">
        <div class="card-body">

        </div>
    </div>
    <div class="card p-3">


    </div>
    <div class="card">
        <div class="card-body">


        </div>
    </div>
    <div class="card bg-primary p-3 text-center">


    </div>
</div> -->