<!-- <p>footer works!</p> -->

<div class="container">
    
    <div class="row">
        <div class="col">
            <br> <br> 
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="lead">vplasin@gmail.com</p>
        </div>
        <div class="col">
            <a class="nav-link" href="https://www.facebook.com/VicAgent" target="_blank">Facebook</a>
        </div>
        <div class="col">
            <a class="nav-link" href="https://twitter.com/VPlasin" target="_blank">Twitter</a>
        </div>


         <div class="col" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['about']" >About</a>          
        </div>

        <div class="col" routerLinkActive="active">
            <a class="nav-link" [routerLink]="['privacy']" >Privacy</a>          
        </div>


    </div>
</div>

